<nav class="navbar navbar-default ">
  <div class="container">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li  routerLinkActive ="active">
          <a routerLink="/product">Home</a>
        </li>
        <li routerLinkActive ="active">
          <a routerLink="/forms">T-shirts</a>
        </li>
        <li routerLinkActive ="active">
          <a routerLinkActive ="active">Electranic</a>
        </li>
      </ul>
      <div class="pull-right">
        <app-addcart></app-addcart>
      </div>
    </div>
  </div>
</nav>
